<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .timeline
        {
            position: relative;
            max-width: 1200px;
            margin:0 auto;
        }
       .timeline #timeline-center
        {
            left:50%;
            margin:0 auto;
            width:20px;
            height:20pt;
            color:blue;
            border-radius: 20px;
            line-height: 30px;
        }
    </style>
</head>
<body bgcolor=yellow>
    <div class="timeline">
        <div id="timeline-left">

        </div>
        <div id="timeline-center"></div>
        <div id="timeline-right">

        </div>
    </div>
</body>
</html>